    body {
      font-family: consolas;
    }

    select{
      padding: 2px 6px 2px 6px;
    }

    .beep {
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }

    canvas{
      border-width:1px;
      border-style: solid;
    }

    body{
      -moz-user-select: none; 
      -webkit-user-select: none; 
      -ms-user-select:none; 
      user-select:none;
      -o-user-select:none;
    }

    .button {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -moz-user-select: none; 
      -webkit-user-select: none; 
      -ms-user-select:none; 
      user-select:none;
      -o-user-select:none;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 5px 20px 5px 20px;
      text-decoration: none;
      display: inline-block;
    }

    .button:active {
      background: #3cb0fd;
      text-decoration: none;
    }

    .h{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .inputfile + label {
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -moz-user-select: none; 
      -webkit-user-select: none; 
      -ms-user-select:none; 
      user-select:none;
      -o-user-select:none;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      padding: 5px 20px 5px 20px;
      display: inline-block;
    }

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
